.row
  .col-md-5.col-md-offset-3
    .well
      %h1 Editing category

      = render 'form'
      %br
      = link_to 'Show', category, class: 'btn btn-primary'
      = link_to 'Back', categories_path, class: 'btn btn-primary'
