!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand Netguru Kraków Workshops 2014
        %p.navbar-text.navbar-right
          -if !user_signed_in?
            =link_to 'Sign in', new_user_session_path
            =link_to "Sign up", new_user_registration_path
          -else
            =current_user.firstname
            =link_to "Sign out", destroy_user_session_path, data:{method: :delete}
        %p.navbar-text.navbar-left
          =link_to 'Categories', categories_path
          =link_to 'Products', products_path
    .container-fluid
      .row
        .col-lg-12
          = yield
